@import "../../scss/app.scss";

.filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  color: $blackGray;
  margin-bottom: 7px;
  input {
    margin-right: 5px;
  }
  span {
    text-transform: capitalize;
  }
}
