$bodyBg: #eaecfc;
$blackColor: #0f0f10;
$greenColor: #29c990;
$redColor: #fc2022;
$violetColor: #735adc;
$blueColor: #615ffe;
$pinkColor: #7f08f6;
$grayColor: #7e7e7e;
$blackGray: #495b67;
$whiteColor: #ffff;
$bgColor: #f2f4fd;

$numbers: (1, 2, 3, 4, 5, 6, 7, 8);
