@import "../../scss/app.scss";

.forget {
  position: relative;
  padding: 20px;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/bg.webp");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.form {
  width: 450px;
  padding: 20px;
  background-color: rgba($color: #000000, $alpha: 0.6);
  border-radius: 10px;
  &__group {
    position: relative;
    margin-bottom: 20px;
    label {
      color: $whiteColor;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px;
    }
    input {
      width: 100%;
      padding: 10px 10px;
      border: none;
      outline: none;
      font-size: 1rem;
      color: $blackGray;
    }
  }
  button {
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    font-size: 1rem;
    color: $whiteColor;
    background-color: $blueColor;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: rgba($color: $blueColor, $alpha: 0.8);
    }
  }
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: $redColor;
    font-size: 0.9rem;
  }
}
